# .env
# Where is your Ollama HTTP API? (must include /v1 suffix)
OLLAMA_BASE_URL=http://host.docker.internal:11434/v1
# Which models to use for chat & embeddings
# CHAT_MODEL=llama3.3:latest
CHAT_MODEL=gpt-4o
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002
OPENAI_API_KEY=(set your API KEY)

